extends layout

block content
  h1= title
  p Welcome to #{title}
  if messages_pug.length > 0
    ul
      each message in messages_pug
        li
          | #{message.text}, #{message.user}, #{message.added}
  a(href='/new') Create New
